@page "{orderlineId}"
@model FoodDemo.Web.Pages.OrderLines.DeleteModel
@{
    ViewData["Title"] = "Delete Order";
}

<div class="container-fluid">
    <h1>Delete!</h1>
    <div class="alert alert-danger">
        Are you sure you want to delete order line @Model.orderLines.Id
    </div>

    <form method="post">
        <button type="submit" class="btn btn-outline-danger btn-sm">Yes</button>
        <a asp-page="/OrderLines/Index" class="btn btn-success btn-sm">No</a>
    </form>
</div>
