@page
@model FoodDemo.Web.Pages.OrderLines.IndexModel
@{
    ViewData["Title"] = "Order Items";
}

    <div class="container-fluid">
        <h2>Order Item(s)</h2>
        <hr />
        <label class="font-weight-bold">Customer Name: </label>
        <select class="badge badge-secondary" id="customername" asp-for="Id" asp-items="Model.customerList">
            <option>-- Choose a customer --</option>
        </select>

        <hr />
        <table class="table" id="tableForm">
            <tr>
                <th>Product</th>
                <th colspan="2">Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th colspan="2">Controls</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="productId" hidden />
                    <select class="badge" onchange="ShowProduct(this.value,'all')" asp-for="Name" id="productname" name="ProductId" asp-items="Model.productList">
                        <option>-- Choose a product --</option>
                    </select>
                </td>
                <td colspan="2">
                    <p name="Description" id="description">description</p>
                    <input type="text" hidden value="Description" id="description" />
                </td>
                <td>
                    <p name="UnitPrice" id="unitprice">Rs: 12.00</p>
                    <input type="text" hidden name="UnitPrice" value="12.00" id="unitprice" />
                </td>
                <td>
                    <input type="number" class="form-control col-md-4" placeholder="eg: 10" onchange="calTotal(this.value)" name="Quantity" id="quantity" />
                </td>
                <td>
                    <p id="totalamount">Rs: 120.00</p>
                    <input type="hidden" name="Status" id="status" value="0" />
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="AddOrderLine()">Add Item</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label>Grand Total:</label>
                </td>
                <td>
                    <p id="GrandTotal"></p>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" onclick="CreateOrder()" data-toggle="modal" data-target="#exampleModal">Confirm Order</button>
                </td>
            </tr>
        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Press save changes to save your orders!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="CreateOrderLine()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

