@page
@model FoodDemo.Web.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
}

    <div class="container-fluid">
        <h2>Orders</h2>

        <a class="btn btn-outline-secondary btn-sm" asp-page="../OrderLines/Index">New Order</a>
    </div>

