@page
@model FoodDemo.Web.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

    <div class="container-fluid">
        <h2>Products</h2>

        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">New Product</button>
        <br/><br/>
        @{
            <div class="container-fluid">
                <div class="row">

                    @if (@Model.Products != null)
                    {

                        @foreach (var product in Model.Products)
                        {
                            <div class="card margin border-color-strip" style="width: 18rem;">
                                <div class="card-body">
                                    <label class="card-title font-weight-bold">@product.Name</label>
                                    <span class="badge badge-secondary right">Quantity: @product.Quantity</span>
                                    <hr />
                                    <label class="small">Description:</label>
                                    <p class="card-text">@product.Description</p>
                                    <hr />
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-info btn-sm">More</button>
                                        <button type="button" class="btn btn-warning btn-sm">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                    </div>
                                </div>
                           </div>
                        }

                     }
                     else
                     {
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Product is empty!</h4>
                        </div>
                     }

                </div>
            </div>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Add New Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="container-fluid">
                            <br/>
                            <form method="post">
                                <div class="form-group">
                                    <label class="small font-weight-bold" for="Name">Product Name: </label>
                                    <input type="text" class="form-control" name="Name" id="Name" placeholder="eg: Orange">
                                </div>
                                <div class="form-group">
                                    <label class="small font-weight-bold" for="description">Description:</label>
                                    <textarea class="form-control" placeholder="Give a description about the product" name="Description" id="description" rows="3"></textarea>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="small font-weight-bold" for="UnitPrice">Unit Price:</label>
                                        <input type="number" class="form-control" placeholder="eg: 12.00" name="UnitPrice" id="UnitPrice">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="small font-weight-bold" for="Quantity">Quantity:</label>
                                        <input type="number" class="form-control" placeholder="eg: 10" name="Quantity" id="Quantity">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>