@page
@model FoodDemo.Web.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

    <div class="container-fluid">
        <h2>Products</h2>

        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">New Product</button>
        <br/><br/>
        @{
            <div class="container-fluid">
                <div class="row">

                    @if (@Model.Products != null)
                    {

                        @foreach (var product in Model.Products)
                        {
                            <partial name="PartialView/_List" model="product" />
                        }

                     }
                     else
                     {
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Product is empty!</h4>
                        </div>
                     }

                </div>
            </div>

            <partial name="PartialView/_CreateProduct" model="@Model.product" />

        }
    </div>