@page
@model FoodDemo.Web.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers";
}

<div class="container-fluid">
    <h2>Customers</h2>

    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">New Customer</button>
    <br /><br />
    @{
        <div class="container-fluid">
            <div class="row">

                @if (@Model.Customers != null)
                {

                    @foreach (var customer in Model.Customers)
                    {
                        <partial name="PartialView/_List" model="customer" />
                    }

                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">No Customer details available!</h4>
                    </div>
                }

            </div>
        </div>

        <partial name="PartialView/_CreateCustomer" model="@Model.customer" />

    }
</div>