@using FoodDemo.Data.Entity

@model Customer

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add New Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">
                    <br />
                    <form method="post">
                        <div class="form-group">
                            <label class="small font-weight-bold" for="FirstName">First Name: </label>
                            <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="eg: John">
                        </div>
                        <div class="form-group">
                            <label class="small font-weight-bold" for="LastName">Last Name: </label>
                            <input type="text" class="form-control" name="LastName" id="LastName" placeholder="eg: Motta">
                        </div>
                        <div class="form-group">
                            <label class="small font-weight-bold" for="Email">Email Address:</label>
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="eg: johnmotta@gmail.com">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="small font-weight-bold" for="MobileNo">Mobile No:</label>
                                <input type="number" class="form-control" placeholder="eg: 077*******" name="MobileNo" id="MobileNo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>