@using FoodDemo.Data.Entity

@model Customer

    <div class="card margin border-color-strip" style="width: 18rem;">
        <div class="card-body">
            <label class="card-title font-weight-bold">@Model.FirstName @Model.LastName</label>
            <hr />
            <label class="small">Mobile No:</label>
            <p class="card-text">@Model.MobileNo</p>
            <label class="small">Email: </label>
            <span class="badge badge-secondary">@Model.Email</span>
            <hr />
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-info btn-sm">More</button>
                <button type="button" class="btn btn-warning btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-sm">Remove</button>
            </div>
        </div>
    </div>